.wrapper-content {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.wrapper {
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter {
    background-color: #2D9CDB;
}