.icon {
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
    text-align: center;
}
.icon p {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px #CFCFCF solid;
}

.nav-wrapper {
    position: absolute;
}

