.header-wrapper h2 {
    color: white;
    font-weight: normal;
    font-size: 20pt;
    padding: 5%;
}

.header-wrapper {
    min-height: 8em;
}

.logo-onboarding {
    display: flex;
    padding: 5%;
}

.logo-onboarding h1 {
    padding: 5px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 10px;
    font-size: 20pt;
    font-weight: 200;
}

.activities-inputs {
    padding: 1%;
}

.activities-input {
    margin: 3%;
    margin-left: 0;
    margin-right: 0;
}

.onboarding-wrapper {
    display: flex;
    flex-flow: column;
}

.onboarding-submit {
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
}

